<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Werewolf</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" type = "text/css" href = "../stylesheets/styles.css" />
        <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.ico"/>
        <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
    </head>
    <body>
        <div id="landing-container">
            <div class="app-title">
                <img src="../assets/images/Wolf_Logo.gif" alt="Where Are the Wolves?" />
            </div>
            <div id="main-buttons">
                <button class="app-btn" id="create-game">Creer une partie</button>
                <a href="/join">
                    <button class="app-btn">Rejoindre la partie</button>
                </a>
                <a href="/learn">
                    <button class="app-btn">Apprendre le jeu</button>
                </a>
            </div>
            <div id="game-mode-select" style="display: none;">
                <span id="game-mode-back">&#8249;</span>
                <a href="/faq#reveals">What is this?</a>
                <a href="/create?reveals=true">
                    <div class="game-mode" id="game-mode-reveals">Reveal</div>
                </a>
                <a href="/create?reveals=false">
                    <div class="game-mode" id="game-mode-no-reveals">No-Reveal</div>
                </a>
            </div>
        </footer>
        <script type="module" src="/javascript/index.js"></script>
    </body>
</html>
